
    
  
        body{
    font-family: merienda;
             background: #f4f4f4;
        }
 
        #services-tabs{
            margin-top: 20px;
        }
#services-tabs ul {
    margin-bottom: 40px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0 20px 0;
        }

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: merienda;
    font-size: 14px;
    color: #212226;
    text-transform: uppercase;
    font-weight: bold
    padding: 0;
    text-decoration: none;
}


/* Tab active state */

#services-tabs ul li.r-tabs-state-active a {
    color: #fb527a;
    font-weight: 700;
    border-bottom: 3px solid #fb527a;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 481px;
}

.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}

.btn-general {
    font-family: merienda;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #fb527a;
    background-color: #fb527a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

.btn-white {
    color: #212226;
    border: 1px solid #fff;
    background-color: #fff;
} 
        .improv{
            padding: 20px 20px;
            font-weight: bold;
            font-size: 25px;
            color: gray;
        } 
        .improv hr{
    width: 30%;
    border: 2px solid  greenyellow;
    border-radius: 50%;
    margin-left: 34%;
}
   