* {
    font-family: 'Josefin Sans', sans-serif;
}


.besthove {
    /*
    margin: 0;
    padding: 0;
*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.quote {
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}

.quote .box {
    position: relative;
    width: 360px;
    height: 400px;
    background: #ccc;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .2);
    margin: 10px;
}

.quote .box p {
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-style: oblique;
    /*    color: greenyellow;*/
    /*    color: black;*/
}

.quote .box p strong {
    color: white;
    font-style: normal;
}

.qutoe .box:hover p {
    color: red;

}

.quote .box h2 {
    position: absolute;
    bottom: 30px;
    right: 30px;

    margin: 0;
    padding: 0;
    font-size: 20px;
}

.qutoe .box:hover h2 {
    color: white;
}

.quote .box:hover {
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .5);
}

.quote .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: 0.5s;
    pointer-events: none;
    width: 100%;
    height: 100%;

}

/*.quote .box.box1:hover ~ .bg,*/
.quote .box.box1:hover {
    opacity: 1;
    background: linear-gradient(#03A9F4, #E91E63);
}

/*.quote .box.box2:hover ~ .bg,*/
.quote .box.box2:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #19fd36);
}

/*.quote .box.box3:hover ~ .bg,*/
.quote .box.box3:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #E91E93);
}

.quote .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}

.quote .box:after {
    content: url(../img/tree-icon.png);
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: .1;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
    filter: invert(1);
}

.quote .box:hover:after {
    filter: invert(0);
}

.imgbg {
    background: url("../img/bg3.jpg") no-repeat fixed !important;
    background-position: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    /*    padding: 50px;*/
    padding-left: 0px;
    padding-right: 0px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
    }
}

.sixch h3 {
    font-family: cursive;
    color: white;
    font-style: italic;
    font-size: 25px;
    margin: 10px;
}

.sixch ul li {
    color: black;
    text-align: left;
}











.sugarimg {
    background-image: url(../img/sg.jpg);
    /*    background-repeat: no-repeat;*/
    font-size: 16px;
    background-repeat: round;
    font-style: italic;
    padding: 10px;
}

.sugarimg h2 {
    color: white;
    font-family: cursive;

}

.sugarimg ul li {
    color: black;

}

.sugarinff {
    background: url("../img/bg2.png") no-repeat fixed;
    /*    background-position: center;*/
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 70px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
    }
}

.sugarrow {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 20px;

}

.sugarpp ul li p {
    margin-top: 7px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}

.sugarimag {
    background-image: url(../img/sugarcane11.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*  background-size: auto;*/
    background-size: 100% 100%;
    background-color: #cccccc;
    /*  height: 800px;*/
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;

}

.sugarima {
    padding-top: 20px;
}

.subsugar h3 {
    color: blue;
    /*    font-weight: bold;*/
}


.sugdetail {
    color: white;
    /*    text-shadow: 2px 1px black;*/
    word-spacing: 7px;
    /*   list-style-type:none;*/
    line-height: 1.8;
    font-size: 16px;
    /*    text-align: center;*/
    font-style: italic;

}

.sugdetail strong {
    color: darkblue;
    font-size: 19px;
    /*    font-style: normal !important;*/
}

.sugdetail h3 {
    font-style: normal;
    font-size: 25px;
}

.sugdetail ul {
    list-style-type: none;
}

.sugdetail p {
    color: white;
    font-size: 17px;
    margin-left: 40px;
}



.amtopmar {
    margin-top: -90px !important;
    padding-top: -20px;
    /*    margin-bottom: -20px;*/
    /*    padding-bottom: 20px;*/
    word-spacing: 6px;
    font-size: 16px;
}

.amlastext {
    background-color: beige;
    font-weight: bold;
}


.amlastext ul li {
    text-decoration: none;
    /*    text-transform: capitalize;*/
    /*    letter-spacing: 3px;*/
    line-height: 1.9;
    word-spacing: 3px;
    list-style-type: none;
    font-style: italic;
}

.amhtag h3 {
    color: blue;
    font-size: 25px;
    padding-top: 10px;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;

}

.amlastext strong {
    color: red;
    font-size: 22px;
    font-style: normal !important;
}

.olacls {
    line-height: 1.9;
    word-spacing: 3px;
    margin-left: 30px;
}

.damimag {
    height: 300px;
    width: 500px;
    margin-left: 30px;
    padding: 30px;
    margin-bottom: 15px;
}

.mkkbgimg {
    background-image: url(../img/makka.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*  background-size: auto;*/
    background-size: 100% 100%;
    background-color: #cccccc;
    /*  height: 400px;*/
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
}

.pdfamdet {
    color: white;
    font-weight: bold;
    font-size: 27px;
    font-style: italic;

}

.pamd {
    color: aqua;
    text-transform: capitalize;
    word-spacing: 5px;
    font-style: oblique;
    letter-spacing: 3px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 17px;
}

.mydesignbtn {
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.55), 0 17px 50px 0 rgba(0, 0, 0, 0.55);
}

.arrowam {
    height: 200px;
    width: 100px;
    margin-left: 40px;
}



.biobgim {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cotton-farming.jpg") no-repeat fixed !important;

    /*    background-size: cover;*/
    background-position: center !important;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;


}

.content {
    width: 300px;
    margin: 20px auto;
    box-shadow: 1px 1px 10px 4px #333;
    border-radius: 8px;
    overflow: 15px 0px;
}

.heada {
    background: brown;
    color: white;
    padding: 15px 0px;

}

.movingbody {
    padding: 4px;
    height: 300px;
}

.mpara {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #afafaf;
}

.notificimg {
    background-image: url(../img/cardimg.png);
    /*
    margin-bottom: 50px;
    margin-top: 50px;
*/
    padding-bottom: 50px;
    padding-top: 50px;
}

.mkgar {
    color: green;
    text-align: center;
    margin: 20px;
}

.igmgar a img {
    padding: 10px;
    /*    height: 200px;*/
    width: 290px;
    height: 250px;
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    /* Safari 6.0 - 9.0 */
    filter: drop-shadow(8px 8px 10px gray);
    transition: 0.6s;
}

.igmgar a img:hover {
    transform: scale(1.1);
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}


.igmgar {
    align-items: center;
}

.contaimg {
    background-image: url(../img/bg2.png) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*    height: 100vh;*/
    /*  background-size: auto;*/
    background-size: 100% 100%;
    background-color: #cccccc;
    /*  height: 400px;*/
    background-position: center;
    background-size: cover;
    position: relative;
    /*    padding-top: 30px;*/
    margin-top: 3px;
    margin-bottom: 30px;
}

.footerimgad {
    background-image: url(../img/bg3.jpg) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*  background-size: auto;*/
    background-size: 100% 100%;
    background-color: #cccccc;
    /*  height: 400px;*/
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
}

.gvcbgin {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 15px;
    line-height: 1.8;
    padding: 30px;
}

.gvcbgin ul li {
    list-style-type: none;
}

.infig {
    margin-top: 2px;
    background-image: url(../img/blurimg1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*  background-size: auto;*/
    background-size: 100% 100%;
    background-color: #cccccc;
    /*  height: 400px;*/
    background-position: center;
    background-size: cover;
    position: relative;

}

.nvadrk {
    margin-top: -90px !important;
    padding-top: -20px;
    /*    margin-bottom: -20px;*/
    /*    padding-bottom: 20px;*/
    word-spacing: 6px;
    font-size: 16px;
}

.repoigda img {
    height: 250px;
    width: 100px;

}

.utaad {
    word-spacing: 6px;
    font-size: 16px;
    list-style-type: none;

}

.humicbg {
    -webkit-box-shadow: -1px 2px 25px 23px rgba(84, 255, 90, 1);
    -moz-box-shadow: -1px 2px 25px 23px rgba(84, 255, 90, 1);
    box-shadow: -1px 2px 25px 23px rgba(84, 255, 90, 1);
    background: #525252;
    margin: auto;
    padding: 50px;
    color: ghostwhite;
    list-style-type: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 1.6;
    word-spacing: 5px;
}

.humicbg strong {
    font-weight: bold;
    font-size: 20px;
    color: orange;
}



.humipara {
    font-style: italic;
    font-size: auto;
    font-weight: bold;
    color: white;
}

#humpar {
    color: deepskyblue;
    font-weight: bold;

}

.boimcbgg {
    -webkit-box-shadow: 2px -1px 53px 49px rgba(255, 0, 72, 1);
    -moz-box-shadow: 2px -1px 53px 49px rgba(255, 0, 72, 1);
    box-shadow: 2px -1px 53px 49px rgba(255, 0, 72, 1);
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ff0000);
    border: 1px solid white;
    padding: 50px;
    margin: auto;
    color: ghostwhite;
    list-style-type: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 1.6;
    word-spacing: 5px;
}

.flpetalf {
    -webkit-box-shadow: -3px 0px 20px 19px rgba(23, 228, 255, 1);
    -moz-box-shadow: -3px 0px 20px 19px rgba(23, 228, 255, 1);
    box-shadow: -3px 0px 20px 19px rgba(23, 228, 255, 1);
    background: #525252;
    border: 1px solid white;
    padding: 50px;
    margin: 20px;
}

.buon2 {
    background-color: deepskyblue;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.buon2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mflpetal {
    margin-top: 50px;
}

.hovreff {
    display: none;
}

.icenterrr {
    display: none;
}

.imgserv {
    width: 86%;
    height: 70%
}

.imgsixe {
    height: 470px;
}

.mobviv {
    width: 470px;
    height: 420px;
}

.sixch ul {
    list-style-type: none;
}

.doublarr {
    /*    font-size: 20px;*/
    color: darkorange;
    margin-right: 14px;
}

#sirped {
    height: 310px;
    margin-top: -30px;
}

.suimsut {
    height: 450px;
}

#spcbl {
    letter-spacing: 2px;
    word-spacing: 1px !important;
}
.bbkv ul{
      list-style-type: none;
    text-align: center;
    align-items: center;
}

.bbkv img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}






/*///////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (max-width: 600px) {
    .quote .box {
        width: auto;
        height: auto;
    }

    .suimsut {
        height: auto;
    }

    .icenterrr {
        display: flow-root;
        text-align: center;
        font-size: 40px;
        border: 1px solid white;
        border-radius: 50%;
        margin-left: 40%;
        width: 20%;
        color: greenyellow;
    }

    .flpetalf {
        padding: 10px;
    }

    .boimcbgg {
        margin: 20px;
    }

    .humicbg {
        margin: 20px;
    }

    .humipara {
        font-style: normal;
        font-weight: 400;
        text-align: justify;
    }

    .button_all {
        font: 700 14px/59px "Roboto", sans-serif;
        width: 150px;
        text-align: center;
        background: #4203fb;
        display: block;
        border: 0;
        color: orangered;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        padding: 0;
        border-radius: 20px;
    }

    .button_all:before {
        background: #e60fd4;
        border-radius: 20px;
    }

    .featured_works .featured_gallery .gallery_iner .gallery_hover a {
        width: 100px;
        font: 700 14px/60px "Roboto", sans-serif;
        display: block;
        border-radius: 10px;
        background: #0bf634;
        color: #fff;
    }

    .imgbg span {
        display: none;
    }

    .our_team_area .team_row .team_membar .team_content .name {
        font: 700 20px "Roboto", sans-serif;
        color: #4203fb;
        padding-top: 0px;
    }

    .footer_area .footer_row .footer_about {
        padding-bottom: 0px;
    }

    .footer_area .footer_row .footer_about address .my_address li span {
        padding-left: 10%;
    }

    .footer_area .copyright_area {
        background: #090909;
        font: 100 14px/30px "Roboto", sans-serif;
        color: #fefefe;
        text-align: center;
    }

    .about_us_area .about_row {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .tittle h2 {
        /*    padding-top: 10px;*/
    }

    .our_team_area .team_row .team_membar img {
        /*     height: 300px; */
        /*        margin-left: 100px;*/
    }

    #dinuimgedit {
        height: 320px;
        margin-left: 104px;
    }

    .our_team_area .team_row .team_membar .team_content {
        padding-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
        padding-bottom: 20px;

    }

    #sunilimge {
        height: 320px;
        margin-left: 20px;
    }

    #nanukakdee {
        height: 390px;
        margin-left: 55px;
    }

    #sirped {
        height: 300px !important;
        margin-top: 0px;
    }

    .our_services_area .portfolio_inner_area {
        padding-top: 10px;
    }

    .our_feature_area {
        padding-bottom: 0px;
    }

    .hovreff {
        display: contents;
        font-weight: bold;
        color: gray;
        font-style: oblique;
    }

    .logosied {
        width: 110px;
    }

    .imgserv {
        height: 100%;
        width: 100%;
    }

    .imgsixe {
        height: auto;
    }

    .mobviv {
        width: auto;
        height: auto;
    }
}
